<!DOCTYPE html>
<html>
<title>My Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Helvetica"}
    </style>
<body onload="getAll()">

    <!-- Top container -->

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block" style="width:260px;background-color:#e5e5e5; margin-left: 10px" id="mySidebar"><br>
  <a href="{{ url_for('home') }}"><img src="static/img/LOGO_IAG_cut.png" style="width:150px; height:86px; margin-left: 45px" ></a>          
  <br>

    <div class="w3-container w3-row">

      <div class="w3-col s8 w3-bar">
          <h4> <span style="margin-left:55px">Welcome</span></h4>
          <h4> <span style="margin-left:70px"><strong>CEO</strong></span><br></h4>

        <a style="padding-left:60px" href="{{ url_for('logout')}}" class="w3-bar-item w3-button"> Sign out <i class="fa fa-sign-out"></i></a>
      </div>
    </div>
    <hr>
    <div class="w3-container">
      <h4>DASHBOARD</h4>
    </div>
    <div class="w3-bar-block">
      <a href="{{ url_for('home') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye"></i>  Overview</a>
    </div>
  </nav>
  <!-- End Sidebar/menu -->

  <!-- !PAGE CONTENT! -->
<div id="main" class="w3-main" style="margin-left:300px;margin-top:10px;margin-top:10px;margin-right: 20px;">

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
      <h4><b><i class="fa fa-bar-chart"></i> PERFORMANCE CRITICAL SERVICES</b></h4>
      <h5><i></i> Availability Critical Services: January - June</h5>

    </header>

  <!-- Square boxes -->
  <div class="w3-row-padding w3-margin-bottom">
      <div class="w3-half">
        <div class="w3-container w3-card w3-text-white w3-padding-16" style = "background-color: #C36894">
          <div class="w3-left"><i class="fa fa-clock-o fa-3x"></i></div>
          <div class="w3-right">
            <h2 id="com-avail">100 %</h2>
          </div>
          <div class="w3-clear"></div>
          <h3 id="com">Service</h3>
        </div>
      </div>
      <div class="w3-half">
        <div class="w3-container w3-card  w3-text-white w3-orange w3-padding-16" style = background:#002F32>
          <div class="w3-left"><i class="fa fa-clock-o fa-3x"></i></div>
          <div class="w3-right">
            <h2 id="madhub-avail">100 %</h2>
          </div>
          <div class="w3-clear"></div>
          <h3 id="madhub">Service</h3>
        </div>
      </div>

    </div>
<br>

<div class="w3-row-padding w3-margin-bottom">
    <div class="w3-half">
      <div class="w3-container w3-card  w3-text-white w3-padding-16" style="background-color: #42826C">
        <div class="w3-left"><i class="fa fa-clock-o fa-3x"></i></div>
        <div class="w3-right">
          <h2 id="flighttracking-avail">100 %</h2>
        </div>
        <div class="w3-clear"></div>
        <h3 id="flighttracking">Service</h3>
      </div>
    </div>
    <div class="w3-half">
      <div class="w3-container w3-card  w3-text-white w3-padding-16" style= "background-color: #FFC6A8">
        <div class="w3-left"><i class="fa fa-clock-o fa-3x"></i></div>
        <div class="w3-right">
          <h2 id="checkin-avail">100 %</h2>
        </div>
        <div class="w3-clear"></div>
        <h3 id="checkin">Service</h3>
      </div>
    </div>

  </div>
<br>

<div class="w3-row-padding w3-margin-bottom">
    <div class="w3-half">
      <div class="w3-container w3-card w3-text-white w3-padding-16" style= "background-color: #E84A5F">
        <div class="w3-left"><i class="fa fa-clock-o fa-3x"></i></div>
        <div class="w3-right">
          <h2 id="crew-avail">100 %</h2>
        </div>
        <div class="w3-clear"></div>
        <h3 id="crew">Service</h3>
      </div>
    </div>
    <div class="w3-half">
      <div class="w3-container w3-card w3-text-white w3-padding-16" style= "background-color: #3c97a7">
        <div class="w3-left"><i class="fa fa-clock-o fa-3x"></i></div>
        <div class="w3-right">
          <h2 id="flightdispatch-avail">100 %</h2>
        </div>
        <div class="w3-clear"></div>
        <h3 id="flightdispatch">Service</h3>
      </div>
    </div>

  </div>

  <br>

  <div class="w3-row-padding w3-margin-bottom">
      <div class="w3-half">
        <div class="w3-container w3-card w3-text-white w3-padding-16" style="background-color:#B7D7D8">
          <div class="w3-left"><i class="fa fa-clock-o fa-3x"></i></div>
          <div class="w3-right">
            <h2 id="flighttracking-avail">100 %</h2>
          </div>
          <div class="w3-clear"></div>
          <h3 id="flighttracking">MRO SAP</h3>
        </div>
      </div>
      <div class="w3-half">
        <div class="w3-container w3-card w3-text-white w3-padding-16" style= "background-color:#FF8984"> 
          <div class="w3-left"><i class="fa fa-clock-o fa-3x"></i></div>
          <div class="w3-right">
            <h2 id="madhub-avail">100 %</h2>
          </div>
          <div class="w3-clear"></div>
          <h3 id="madhub">TICKETING SYSTEM</h3>
        </div>
      </div>

    </div>

    <br>

    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-half">
          <div class="w3-container w3-card w3-text-white w3-padding-16" style = background-color:#99B898>
            <div class="w3-left"><i class="fa fa-clock-o fa-3x"></i></div>
            <div class="w3-right">
              <h2 id="ops-avail">100 %</h2>
            </div>
            <div class="w3-clear"></div>
            <h3 id="ops">BOOKING SYSTEM</h3>
          </div>
        </div>
        <div class="w3-half">
          <div class="w3-container w3-card w3-text-white w3-padding-16" style= "background-color: #971f01">
            <div class="w3-left"><i class="fa fa-clock-o fa-3x"></i></div>
            <div class="w3-right">
              <h2 id="ops-avail">100 %</h2>
            </div>
            <div class="w3-clear"></div>
            <h3 id="ops">LOAD PLAN</h3>
          </div>
        </div>
  
      </div>

      <br>

      <div class="w3-row-padding w3-margin-bottom">
          <div class="w3-half">
            <div class="w3-container w3-card w3-text-white w3-padding-16" style= "background-color: #0F6A8B">
              <div class="w3-left"><i class="fa fa-clock-o fa-3x"></i></div>
              <div class="w3-right">
                <h2 id="flighttracking-avail">100 %</h2>
              </div>
              <div class="w3-clear"></div>
              <h3 id="flighttracking">BOOKING SYSTEM</h3>
            </div>
          </div>
          <div class="w3-half">
            <div class=" w3-container  w3-text-white w3-padding-16" style= "background-color: #fcfcfc">
              <div class="w3-left"><i class="fa fa-clock-o fa-3x"></i></div>
              <div class="w3-right">
                <h2 id="flighttracking-avail">100 %</h2>
              </div>
              <div class="w3-clear"></div>
              <h3 id="flighttracking">Service</h3>
            </div>
          </div>
    
        </div>















    <div class="w3-row-padding w3-margin-bottom">


    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-display-container" style="height:500px; margin-right: 15px;border:none" frameBorder="none">
            <iframe src="https://dash-01.herokuapp.com/" style="width:100%; height:100%;" frameBorder="0" alt="Graph-incs-per-serv-sla"></iframe>
        </div>
    

    <div class="w3-half">
        <div class="w3-display-container" style="height:400px; margin-right: 15px;">
            <iframe src="https://dash-05.herokuapp.com/" frameBorder="0" style="width:200%;height:180%;margin-left: 100px;"></iframe>
        </div>
      </div>
      
        <div class="w3-half">
        <div class="w3-display-container" style="height:400px;">
            <iframe src="https://dash-06.herokuapp.com/" frameBorder="0" style="width:200%;height:180%;margin-left: 40px"></iframe>
        </div>
      </div>
    </div>
  </div>
    
    <div>


    </div>
    <br>
    <hr style="margin-right:15px">


    <hr style="margin-right:15px">


    </div>
  </div>
    <!-- End squared boxes -->
    <script>

    const getJsonCom = () => {
        fetch("https://david-integration-project.herokuapp.com/availability")
          .then(response => response.json())
          .then(response => document.querySelector("#com").innerHTML = (response[0]['Service']))
        };
    
    const getJsonComAvail = () => {
        fetch("https://david-integration-project.herokuapp.com/availability")
          .then(response => response.json())
          .then(response => document.querySelector("#com-avail").innerHTML = (response[0]['Availability'] + " %"))
        };
    
        const getJsonCheckin = () => {
        fetch("https://david-integration-project.herokuapp.com/availability")
          .then(response => response.json())
          .then(response => document.querySelector("#checkin").innerHTML = (response[1]['Service']))
        };
        const getJsonCheckinAvail = () => {
        fetch("https://david-integration-project.herokuapp.com/availability")
          .then(response => response.json())
          .then(response => document.querySelector("#checkin-avail").innerHTML = (response[1]['Availability']+ " %"))
        };
    
        const getJsonCrew = () => {
        fetch("https://david-integration-project.herokuapp.com/availability")
          .then(response => response.json())
          .then(response => document.querySelector("#crew").innerHTML = (response[2]['Service']))
        };
    
        const getJsonCrewAvail = () => {
        fetch("https://david-integration-project.herokuapp.com/availability")
          .then(response => response.json())
          .then(response => document.querySelector("#crew-avail").innerHTML = (response[2]['Availability']+ " %"))
        };
    
        const getJsonFlightDispatch = () => {
        fetch("https://david-integration-project.herokuapp.com/availability")
          .then(response => response.json())
          .then(response => document.querySelector("#flightdispatch").innerHTML = (response[3]['Service']))
        };
    
        const getJsonFlightDispatchAvail = () => {
        fetch("https://david-integration-project.herokuapp.com/availability")
          .then(response => response.json())
          .then(response => document.querySelector("#flightdispatch-avail").innerHTML = (response[3]['Availability']+ " %"))
        };
    
        const getJsonFlightTracking = () => {
        fetch("https://david-integration-project.herokuapp.com/availability")
          .then(response => response.json())
          .then(response => document.querySelector("#flighttracking").innerHTML = (response[4]['Service']))
        };
        
        const getJsonFlightTrackingAvail = () => {
        fetch("https://david-integration-project.herokuapp.com/availability")
          .then(response => response.json())
          .then(response => document.querySelector("#flighttracking-avail").innerHTML = (response[4]['Availability']+ " %"))
        };
    
        const getJsonMadHub = () => {
        fetch("https://david-integration-project.herokuapp.com/availability")
          .then(response => response.json())
          .then(response => document.querySelector("#madhub").innerHTML = (response[5]['Service']))
        };
        
        const getJsonMadHubAvail = () => {
        fetch("https://david-integration-project.herokuapp.com/availability")
          .then(response => response.json())
          .then(response => document.querySelector("#madhub-avail").innerHTML = (response[5]['Availability']+ " %"))
        };
        
        const getJsonOps = () => {
        fetch("https://david-integration-project.herokuapp.com/availability")
          .then(response => response.json())
          .then(response => document.querySelector("#ops").innerHTML = (response[6]['Service']))
        };
    
        const getJsonOpsAvail = () => {
        fetch("https://david-integration-project.herokuapp.com/availability")
          .then(response => response.json())
          .then(response => document.querySelector("#ops-avail").innerHTML = (response[6]['Availability']+ " %"))
        };
    
        const getAll = () => {
          getJsonCom();
          getJsonComAvail();
          getJsonCheckin();
          getJsonCheckinAvail();
          getJsonCrew();
          getJsonCrewAvail();
          getJsonFlightDispatch();
          getJsonFlightDispatchAvail();
          getJsonFlightTracking()
          getJsonFlightTrackingAvail();
          getJsonMadHub();
          getJsonMadHubAvail();
          getJsonOps();
          getJsonOpsAvail()
        }

        </script>
</body>
</html>